# SPDX-FileCopyrightText: 2024 BigBlueButton Inc. and by respective authors
#
# SPDX-License-Identifier: CC0-1.0

/dist
events.xml
*.egg-info
*.pyc
presentation-video
presentation
presentation.mkv
__pycache__
.venv
