# Build system requires (keep in sync with pyproject.toml)
setuptools >= 45.2
setuptools_scm[toml] >= 3.4

# Install requires (keep in sync with setup.cfg)
# Specific versions are used here for dev env to match Ubuntu 20.04
attrs == 19.3.0 ; python_version == "3.8"
lxml == 4.5.0 ; python_version == "3.8"
packaging == 20.3 ; python_version == "3.8"
pycairo == 1.16.2 ; python_version == "3.8"
pygobject == 3.36.0 ; python_version == "3.8"
sortedcollections == 1.0.1 ; python_version == "3.8"
perfect-freehand >= 1.2.0 ; python_version == "3.8"
# Additional locked dependencies to match Ubuntu 20.04
sortedcontainers == 2.1.0 ; python_version == "3.8"

# Code formatting
black
isort

# Type checking/linting
# PyGObject-stubs - maybe later, current release version is too incomplete
lxml-stubs
mypy
types-setuptools

# Testing
pytest
