# Install requires (keep in sync with setup.cfg)
attrs
lxml
packaging
pycairo
pygobject
sortedcollections
perfect-freehand

# Code formatting
black
isort

# Type checking/linting
# PyGObject-stubs - maybe later, current release version is too incomplete
lxml-stubs
mypy
types-setuptools
